---
const storiesImports = import.meta.glob("/src/**/*.stories.*", { eager: true });

const stories: any[] = [];

const subpath = "components/";
const base = import.meta.env.BASE_URL;

for (const key in storiesImports) {
  const story = {
    name: key.split("/").pop()?.replace(".stories.ts", ""),
    slug: key.split("/").pop()?.replace(".stories.ts", "").toLowerCase(),
    entries: [] as any[],
  };
  const module = storiesImports[key] as any;

  if (!key.match(subpath)) continue;

  const exports = Object.keys(module).filter((key) => !["default", "_id"].includes(key));
  for (const key of exports) {
    story.entries.push({
      name: key,
      slug: key.toLowerCase(),
      path: key,
    });
  }

  if (story.name === Astro.params.slug) {
    stories.push(story);
  }
}
---

<script>
  //// For Client-Side Navigation
  //
  // document.addEventListener('astro:before-preparation', (event) => {
  //   updateCurrentPage(event.to);

  //   const originalLoader = event.loader;
  //   event.loader = async function() {
  //     const frame = document.querySelector(".main-frame");
  //     frame?.classList.add("docs-story-loading");

  //     await originalLoader();
  //   };
  // });

  // document.addEventListener('astro:page-load', () => {
  //   updateCurrentPage(window.location);
  // });

  // function updateCurrentPage(location: Location | URL) {
  //   const loc = location.href.replace(location.origin, "");
  //   const oldPages = document.querySelectorAll('[aria-current="page"]');
  //   const newPages = document.querySelectorAll(`[href="${loc}"]`);

  //   for (const oldPage of oldPages) {
  //     oldPage.setAttribute("aria-current", "false");
  //   }

  //   for (const newPage of newPages) {
  //     newPage.setAttribute("aria-current", "page");
  //   }
  // }
</script>

{stories.length > 0 ? (
  <nav>
   	<ul class="p-0 m-0 list-none">
      {stories.map((story) => (
  		<li class="pb-2">
        <ul class="p-0 m-0 list-none -ml-1">
          {story.entries.map((entry) => (
            <li>
              <a
                class="docs-nav-link-variant"
                href={`${base}${subpath}${story.slug}?id=${story.slug}--${entry.slug}`}
              >{entry.name}</a>
            </li>
          ))}
        </ul>
  		</li>
  	 ))}
   	</ul>
  </nav>
) : <div>
  <span class="style-typography-disabled">No variants</span>
</div>}
