---
const base = import.meta.env.BASE_URL;
---

<section class="hidden lg:block mx-auto max-w-[1400px] px-6 pb-20 overflow-visible">
  <div class="relative -mx-6">
    <div class="relative grid gap-0 grid-cols-4 auto-rows-[13rem]">
      <article class="group relative bg-white col-span-2 row-span-2 row-span-1 min-h-0">
        <div class="relative h-full overflow-hidden bg-white">
          <iframe
            title="Meeting Invite story"
            src={`${base}story?id=dialog--landingpage&fill=1`}
            loading="lazy"
            scrolling="no"
            class="block h-full w-full border-0 bg-transparent"
          />
        </div>
      </article>

      <article class="group relative bg-white col-span-2 row-span-2 min-h-0">
        <div class="relative h-full overflow-hidden bg-white">
          <iframe
            title="Carousel story"
            src={`${base}story?id=carousel--landingpage&fill=1`}
            loading="lazy"
            scrolling="no"
            class="block h-full w-full border-0 bg-transparent"
          />
        </div>
      </article>

      <article class="group relative bg-white col-span-2 row-span-2 min-h-0">
        <div class="relative h-full overflow-hidden bg-white">
          <iframe
            title="Comment Review story"
            src={`${base}story?id=lightbox--landingpage&fill=1`}
            loading="lazy"
            scrolling="no"
            class="block h-full w-full border-0 bg-transparent"
          />
        </div>
      </article>

      <article class="group relative bg-white col-span-1 row-span-1 min-h-0">
        <div class="relative h-full overflow-hidden bg-white">
          <iframe
            title="Switch story"
            src={`${base}story?id=switch--landingpage&fill=1`}
            loading="lazy"
            scrolling="no"
            class="block h-full w-full border-0 bg-transparent"
          />
        </div>
      </article>

      <article class="group relative bg-white col-span-1 row-span-1 min-h-0">
        <div class="relative h-full overflow-hidden bg-white">
          <iframe
            title="Transition story"
            src={`${base}story?id=transition--landingpage&fill=1`}
            loading="lazy"
            scrolling="no"
            class="block h-full w-full border-0 bg-transparent"
          />
        </div>
      </article>

      <article class="group relative bg-white col-span-2 row-span-1 min-h-0">
        <div class="relative h-full overflow-hidden bg-white">
          <iframe
            title="Pager story"
            src={`${base}story?id=pager--landingpage&fill=1`}
            loading="lazy"
            scrolling="no"
            class="block h-full w-full border-0 bg-transparent"
          />
        </div>
      </article>

      <article class="group relative bg-white col-span-2 row-span-1 min-h-0">
        <div class="relative h-full overflow-hidden bg-white">
          <iframe
            title="Tabs story"
            src={`${base}story?id=tabs--landingpage&fill=1`}
            loading="lazy"
            scrolling="no"
            class="block h-full w-full border-0 bg-transparent"
          />
        </div>
      </article>
    </div>

    <div class="pointer-events-none absolute inset-0 z-10 grid grid-cols-4 auto-rows-[13rem]">
      <div class="relative col-start-1 col-span-4 row-start-2">
        <div class="absolute right-0 bottom-0 left-0 h-px bg-zinc-300/90" />
      </div>
      <div class="relative col-start-1 col-span-4 row-start-4">
        <div class="absolute right-0 bottom-0 left-0 h-px bg-zinc-300/90" />
      </div>

      <div class="relative col-start-3 col-span-2 row-start-3">
        <div class="absolute right-0 bottom-0 left-0 h-px bg-zinc-300/90" />
      </div>

      <div class="relative col-start-3 row-start-3 row-span-1">
        <div class="absolute top-0 bottom-0 right-0 w-px bg-zinc-300/90" />
      </div>

      <div class="relative col-start-2 row-start-1 row-span-5">
        <div class="absolute top-0 bottom-0 right-0 w-px bg-zinc-300/90" />
      </div>
    </div>
  </div>
</section>
