---
import { getEntry } from "astro:content";
import { getCollection, render } from "astro:content";
import Layout from "../../layout.astro";
import SideMenu from "../../components/SideMenu.astro";
import {
  Git,
  Accessibility,
  Atrium,
  Rive,
  Lit,
  Vue,
  Elements,
  Headings,
  Tags,
} from "package:/components";
import { Code } from "astro:components";
import StoryNav from "../../components/stories/Nav.astro";
import { Preview } from "../../components/stories/Preview";

export async function getStaticPaths() {
  const allDocs = await getCollection("docs");
  return allDocs
    .map((doc) => {
      const [category, ...slug] = doc.id.split("/");
      if (category !== "components") return;

      return {
        params: { slug: slug.join("/") },
      };
    })
    .filter(Boolean);
}

const { slug } = Astro.params;
const entry = await getEntry("docs", ["components", slug].join("/"));

if (!entry) {
  throw new Error("404");
}

const { Content, headings } = await render(entry);

const name = entry.data.title || "";
---

<Layout>
  <title slot="head">{entry.data.title} | Atrium components</title>
  <meta name="description" slot="head" content={entry.data.description} />

  <div class="flex items-start">
    <div class="sticky top-module-4xl w-module-9xl hidden md:block pr-module-4xl">
      <SideMenu category="components" headline="All components" />
      <div class="pb-module-2xl"></div>
      <SideMenu category="modules" headline="Modules" />
    </div>

    <main class="md:px-0 w-full md:w-[calc(100%-var(--module-9xl))]">
      <h1 class="typo-title-2 max-w-full lg:-mt-3">{entry.data.title}</h1>

      <div class="relative my-module-3xl">
        <Preview client:only="react" />
      </div>

      <Headings headings={headings} />

      <div class="border-b-1 border-gray-200 pb-module-s mb-module-xl"></div>

      <aside class="lg:float-right lg:w-[300px]">
        <p class="mb-module-m">
          {entry.data.description}
        </p>

        <div class="flex gap-2 flex-wrap mb-module-2xl">
          <Git href={`/packages/components/src/vue/${name}.tsx`} />
          <Accessibility reportId={`-atrium-components-${name.toLowerCase()}-`} />
          <Tags />
        </div>

        <div class="typo-footnote font-bold mb-module-m mt-module-2xl">Usage</div>
        {entry.data.command ? <Code lang="sh" code={entry.data.command}></Code> : ""}

        <div class="typo-footnote font-bold mb-module-m mt-module-2xl">Variants</div>
        <StoryNav />
      </aside>

      <script>
        import './docs-editor.jsx';
      </script>
      <style>
        docs-editor.hydrated {
          @apply block focus-within:outline-2;
        }
      </style>

      <div class="markdown-content lg:float-left lg:w-[calc(100%-300px)] lg:pr-module-4xl">

        <!-- <docs-editor data-file-path={entry.filePath} class="markdown-content"> -->
          <Content />
        <!-- </docs-editor> -->
      </div>

    </main>
  </div>
</Layout>
