---
import { getEntry } from "astro:content";
import { getCollection, render } from "astro:content";
import Layout from "../../layout.astro";
import SideMenu from "../../components/SideMenu.astro";

export async function getStaticPaths() {
  const allDocs = await getCollection("docs");
  return allDocs
    .map((doc) => {
      const [category, ...slug] = doc.id.split("/");
      if (category !== "guides") return;

      return {
        params: { slug: slug.join("/") },
      };
    })
    .filter(Boolean);
}

const { slug } = Astro.params;
const entry = await getEntry("docs", ["guides", slug].join("/"));

if (!entry) {
  throw new Error("404");
}

const { Content } = await render(entry);
---

<Layout>
  <title slot="head">{entry.data.title} | Atrium elements</title>
  <meta name="description" slot="head" content={entry.data.description} />

  <div class="flex items-start">
    <div class="sticky top-module-4xl w-module-9xl hidden md:block pr-module-4xl">
      <SideMenu category="guides" headline="On Design Systems" />
    </div>

    <main class="md:px-0 w-full md:w-[calc(100%-var(--module-9xl))]">
      <hgroup>
        {entry.data.headline ? <p class="typo-info max-w-full mb-element-m">{entry.data.headline}</p> : ""}
        <h1 class="typo-title-1 max-w-full mb-element-m">{entry.data.title}</h1>
        {entry.data.description ? <p class="typo-body font-normal max-w-full mt-4">{entry.data.description}</p> : ""}
      </hgroup>

      <div class="border-b-1 border-gray-200 pb-module-s mb-module-xl"></div>

      <aside class="lg:float-right lg:w-[300px]">
      </aside>

      <div class="markdown-content lg:float-left lg:w-[calc(100%-300px)] lg:pr-module-4xl">
        <Content />
      </div>

    </main>
  </div>
</Layout>
